<h1>Editing Admin Nature Of Review</h1>

<%= render 'form', admin_nature_of_review: @admin_nature_of_review %>

<%= link_to 'Show', @admin_nature_of_review %> |
<%= link_to 'Back', admin_nature_of_reviews_path %>
